<h1><%= @list.name %></h1>

<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>

<ul>
  <li>
    <% @list.bookmarks.each do |bookmark| %>
      <%= bookmark.movie.title %>
      <%= bookmark.comment %>
      <%= button_to "Remove", bookmarks_destroy_path(bookmark), method: :delete, class: "btn btn-warning" %>
    <% end %>
  </li>
</ul>
<p class="mt-2"><%= link_to "Return to lists", lists_path, class:"btn btn-info" %></p>
