<!DOCTYPE html>
<html>
  <head>
    <title>🎬 RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-body-tertiary mb-5" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-film"></i> RailsWatchList</a>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
